<header class="main-header">

  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a href="/">Home</a>
      </li>

      <% if (isAuthenticated) { %>
      <li class="main-header__item">
        <a href="/todoapp">To Do App</a>
      </li>

      <% } %>
    </ul>
    <ul class="main-header__item-list">
      <% if (!isAuthenticated) { %>
      <li class="main-header__item">
        <a href="/login">Login</a>
      </li>
      <li class="main-header__item">
        <a href="/signup">Signup</a>
      </li>
      <% } else { %>
      <li class="main-header__item">
        <form action="/logout" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button type="submit">Logout</button>
        </form>
      </li>
      <% } %>
    </ul>
  </nav>
</header>