<%- include('includes/header.ejs')%>
<%- include('includes/navigation.ejs')%>

<body>
  <main>
    <div>
      <div>
        <h1>Welcome to Notes</h1>
      </div><br />

      <div>
        <form action="/search" method="POST">
          <label>Search</label> : <input name="key" />
        </form>
      </div>
    </div>
  </main>
</body>

<%- include('includes/footer.ejs')%>